.devugo-btn {
  background: var(--button-bg);
  border-color: var(--button-border-color);
  color: var(--white);
  outline: none;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  font-size: 13px;
  height: 40px;
  padding: 10px;
  @include transition-ease;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.3;
  }
}
