.button-radio {
  display: flex;
  justify-content: space-between;

  &__radio {
    width: 100px;
    font-size: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      margin-right: 10px;
    }
  }
}
