.chats-body {
  background-image: url(../../images/chat-bg.jfif);
  .chat-messages {
    height: calc(100vh - 220px);
    overflow-y: scroll;
  }
}

@include media-md {
  .chats-body {
    .chat-messages {
      max-height: calc(100vh - 350px);
    }
  }
}
