.chat-message {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;

  &__time-container {
    font-size: 8px;
    margin-bottom: 3px;
  }

  &.right {
    align-items: flex-end;

    .chat-message__content {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: var(--primary-color);
    }
  }
  &.left {
    .chat-message__content {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: var(--complimentary-color);
    }
  }
  &__content {
    padding: 7px 10px;
    width: fit-content;

    p {
      color: var(--white);
      font-size: 10px;
    }
  }
}

@include media-md {
  .chat-message {
    &__time-container {
      font-size: 10px;
    }
    &__content {
      padding: 15px;

      p {
        font-size: inherit;
      }
    }
  }
}
