.dashboard-summary-formats {
  &__pills {
    min-width: 150px;
    max-width: 300px;
    display: flex;
    border: 1px solid var(--primary-color);
    .dashboard-summary-formats__pill {
      width: 25%;
      padding: 1px;
      text-align: center;
      cursor: pointer;

      span {
        font-size: 10px;
      }

      &.active {
        background-color: var(--primary-color);
        span {
          color: var(--white);
        }
      }

      &:nth-child(3) {
        border-right: 1px solid var(--primary-color);
      }

      &:nth-child(2) {
        border-right: 1px solid var(--primary-color);
        border-left: 1px solid var(--primary-color);
      }
    }
  }
}
