@keyframes color-in {
  from {
    margin-top: -5px;
    background-color: var(--white);
  }
  to {
    margin-top: 0;
    background-color: var(--primary-color);
  }
}

.page-loader {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;

  .site-logo {
    margin: 0 auto;
  }
}
