.page-content {
  background-color: var(--page-content-bg-color);
  width: calc(100vw - 50px);

  &.open-sidebar {
    width: calc(100vw - 250px);
  }

  &__body {
    padding: 10px;
  }
}

@include media-md {
  .page-content {
    &__body {
      padding: 30px;
    }
  }
}
