@keyframes top-in-home {
  from {
    margin-top: -40px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes sk-from-right {
  from {
    margin-left: 100px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.home {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: var(--gradient);
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    &-left {
      padding: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      .content {
        text-align: center;
        span.sk {
          color: var(--white);
        }

        svg {
          text-shadow: $text-shadow;
          color: var(--white);
          animation-name: zoom-in;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;
          animation-delay: 3s;
        }

        span.sk {
          animation-name: sk-from-right;
          animation-duration: 2s;
          animation-timing-function: ease;
          animation-fill-mode: backwards;
          animation-delay: 3.5s;
        }
        h1 {
          text-shadow: $text-shadow;
          color: var(--white);
          animation-name: top-in-home;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;
          animation-delay: 2s;
          // animation-delay: 1.4s !important;
        }
        p {
          max-width: 400px;
          margin-bottom: 40px;
          color: var(--light-gray-2);
          animation-name: top-in-home;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;
          animation-delay: 1s;
        }
        a {
          background-image: var(--home-button-bg);
          border-color: var(--button-border-color);
          color: var(--white);
          outline: none;
          border-radius: 30px;
          border: 1px solid;
          cursor: pointer;
          font-size: 13px;
          padding: 15px 35px;
          @include transition-ease;
          animation-name: zoom-in;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    &-right {
      width: 100%;
      padding: 10px;

      .content {
        text-align: center;
        svg {
          width: 90%;
          height: 100%;
          animation-name: zoom-in;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;
        }
      }
    }
  }
}

@include media-md {
  .home {
    background-image: none;
    .container {
      flex-direction: row;
      &-left {
        padding: 20px;
        height: calc(100vh);
        width: 50%;
        margin-bottom: 0;
        background-image: var(--gradient);

        .content {
          text-align: start;

          h1 {
            font-size: 40px;
            line-height: 45px;
            max-width: 200px;
          }

          p {
            font-size: 18px;
          }
        }
      }

      &-right {
        padding: 20px;
        width: 50%;
      }
    }
  }
}
